<style>
    body {
      background-color: AFEEEE
    }
    hr {
      border-color: grey;
      border-style: none;
      border-top-style: dotted;
      border-width:10px;
      width:7%
    }
</style>